<h2>Editing Product</h2>

<%= render 'form' %>

<div class="btn-group" role="group" aria-label="...">
  <%= link_to 'Show', @product, class: 'btn btn-default btn-xs' %>
  <%= link_to 'Back', products_path, class: 'btn btn-default btn-xs' %>
</div>